<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gopi.securevault">

    <!-- NO INTERNET permission: offline app -->
    <application
        android:name=".SecureApp"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="SecureVault"
        android:supportsRtl="true"
        android:theme="@style/Theme.SecureVault">

        <!-- All sensitive activities should NOT be exported -->
        <activity android:name=".ui.settings.SettingsActivity"
            android:exported="false"
            android:parentActivityName=".ui.home.HomeActivity" />
        <activity android:name=".ui.aadhar.AadharActivity"
            android:exported="false"
            android:parentActivityName=".ui.home.HomeActivity" />
        <activity android:name=".ui.pan.PanActivity"
            android:exported="false"
            android:parentActivityName=".ui.home.HomeActivity" />
        <activity android:name=".ui.voterid.VoterIdActivity"
            android:exported="false"
            android:parentActivityName=".ui.home.HomeActivity" />
        <activity android:name=".ui.license.LicenseActivity"
            android:exported="false"
            android:parentActivityName=".ui.home.HomeActivity" />
        <activity android:name=".ui.policies.PoliciesActivity"
            android:exported="false"
            android:parentActivityName=".ui.home.HomeActivity" />
        <activity android:name=".ui.cards.CardsActivity"
            android:exported="false"
            android:parentActivityName=".ui.home.HomeActivity" />
        <activity android:name=".ui.banks.BanksActivity"
            android:exported="false"
            android:parentActivityName=".ui.home.HomeActivity" />
        <activity android:name=".ui.home.HomeActivity"
            android:exported="false" />
        <activity android:name=".ui.auth.SetupActivity"
            android:exported="false" />
        <activity android:name=".ui.auth.PasswordResetActivity"
            android:exported="false" />

        <!-- Launcher activity MUST be exported -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
